/***Number input selector styles**/

input.number, button {
  text-align:center;
  width: 3em;
  height: 3em;
  line-height: 1.2;
}
input.number:focus {
  outline: 0;
}

input.number::-webkit-outer-spin-button,
input.number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

@media only screen and (max-width: 900px) {
    input.number, button  {
      text-align:center;
      width: 2em;
      height: 2em;
      line-height: .80;
    }
    
     i.fas fa-plus, i.fas fa-minus{
      font-size: .875em;
    }
    
}
/**********/
